// .pawon{
//     border:2px solid;
//      border-color:black;
//      border-block-end-color: blue;
//       border-radius:205px;
// }
// #okna{
//     border:2px solid;
//     border-color:red;
//     border-block-end-color: blue;
//     border-radius:205px;
    
// }
.bag{
    border : 2px solid;
    border-color : lightgreen;
border-radius:200px;
}